:root {
	--verydarkGreen: #102830;
	--darkGreen: #024751;
	--lightGreen: #03d47e;
	--darkGrey: #43454b;
	--lightGrey: #f3f3f3;
	--lightBlue: #e5eced;
}

h1 h3 h4 {
	color: var(--lightGreen);
}

h2 {
	color: var(--darkGreen);
}

.section1 {
	background-color: var(--verydarkGreen);
}

.section2 {
	background-color: var(--lightGrey);
}
