:root {
	--verydarkGreen: #102830;
	--darkGreen: #024751;
	--lightGreen: #03d47e;
	--darkGrey: #43454b;
	--lightGrey: #f3f3f3;
	--lightBlue: #e5eced;
}

/* Section1 */

.section1 {
	background-color: var(--verydarkGreen);
	min-width: 300px;
}

.section1-title {
	color: var(--lightGreen);
	font-size: 3rem;
	font-weight: 700;
}

.section1-text {
	color: white;
	font-size: 0.9rem;
	font-weight: 500;
	position: relative;
	bottom: 25px;
}

.section1-pic {
	object-fit: contain;
	border-radius: 20px;
	width: 100%;
}

/* Section2 */

.section2 {
	background-color: var(--lightGrey);
}
