:root {
	--verydarkGreen: #102830;
	--darkGreen: #024751;
	--lightGreen: #03d47e;
	--darkGrey: #43454b;
	--lightGrey: #f3f3f3;
	--lightBlue: #e5eced;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	font-size: 2rem;
	font-weight: 700;
}

h3 {
	color: var(--lightGreen);
	font-size: 1.5rem;
}

h4 {
	color: var(--lightGreen);
	font-size: 0.8rem;
}

p {
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 1.3rem;
}

button {
	min-width: 50px;
	width: 140px;
	height: 35px;
	border-radius: 8px;
	border: none;
	margin: 0 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 0.8rem;
	transition: all 0.3s;
}

.check-icon {
	color: var(--lightGreen);
}

/* Section1 */

.section1 {
	background-color: var(--verydarkGreen);
}

.section1-title {
	color: var(--lightGreen);
}

.section1-text {
	color: white;
	position: relative;
	bottom: 30px;
}

.section1-pic {
	object-fit: contain;
	border-radius: 20px;
	width: 100%;
}

/* Section2 */

.section2 {
	background-color: var(--lightGrey);
}

.s2launch-title {
	color: var(--darkGreen);
}

.list-item {
	display: flex;
	align-items: center;
	height: 2rem;
}

.list-item-text {
	padding: 0 10px;
}

.s2choose {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-top: 50px;
}

.s2choose-title {
	color: var(--darkGrey);
}

.s2choose-text {
	color: var(--darkGrey);
	font-weight: 600;
	font-size: 0.7rem;
}

.card {
	background-color: white;
	border-radius: 10px;
	border: 1px solid var(--lightGreen);
	box-shadow: 5px 10px 20px lightgray;
	padding: 0 30px;
	padding-top: 5px;
	margin-bottom: 15px;
	text-align: left;
}

.card-title {
	font-size: 1.1rem;
}

.card-text {
	font-size: 0.7rem;
	line-height: 1rem;
	position: relative;
	bottom: 20px;
}

.card-bottom {
	display: flex;
	align-items: center;
	position: relative;
	bottom: 1rem;
}

.card-price {
	font-weight: 700;
	font-size: 1.1rem;
	position: relative;
	bottom: 0.7rem;
	padding-right: 1rem;
}

.btn-enquire {
	background-color: var(--verydarkGreen);
	color: white;
}

.btn-enquire:hover {
	background-color: white;
	color: var(--verydarkGreen);
	border: 1px solid var(--verydarkGreen);
}

.btn-buy {
	background-color: var(--lightGreen);
	color: white;
}

.btn-buy:hover {
	background-color: white;
	color: var(--lightGreen);
	border: 1px solid var(--lightGreen);
}
